$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

$darker-blue: #064785;
$dark-blue: #1c75cd;
$medium-blue: #03aedf;
$light-blue: #9bdcff;
$orange: #ffa500;
$header-height: 45px;

.oncokb-card {
  * {
    border-collapse: collapse;
    box-sizing: border-box;
  }
  margin: auto;
  width: 500px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 50px;

  @import "global";
  @import "level-icon";
  @import "table";
  @import "collapsible";
  @import "tabs";
  @import "respTabs";

  .refs {
    img {
      margin: auto;
      display: block;
      margin-top: 10px;
    }
    ul.list-group {
      max-height: 85px;
      overflow-y: auto;
    }
  }
  .mutation-effect .refs {
    ul.list-group {
      max-height: 200px;
    }
  }

  .list-group-item {
    border: 0;
    padding: 5px 0;
    line-height: 16px;
    font-size: 13px;
    a {
      color: $dark-blue;
    }
  }
  .list-group-item:not(:first-child) {
    border-top: 1px solid #d0d0d0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .oncogenicity {
    .title {
      line-height: 22px;
      font-size: 13px;
      width: 100%;
      float: left;
      color: white;
    }
    .title-content {
      width: 100%;
      float: left;
      line-height: 23px;
      color: orange;
      font-size: 15px;
      margin: -3px 0;
      text-transform: none;
      .fa.fa-book {
        color: #fff;
      }
    }
    .table {
      font-size: 13px;
      text-align: center;
      margin-bottom: 0;
      thead > tr > th {
        padding: 0 0 3px 0;
      }
      tbody > tr > td {
        padding: 1px 3px;
        vertical-align: middle;
      }
    }
  }

  .mutation-effect {
    .title {
      color: white;
      font-size: 8px;
      line-height: 22px;
      font-size: 13px;
      width: 100%;
      float: left;
    }
    .title-content {
      width: 100%;
      float: left;
      line-height: 23px;
      margin: -3px 0;
      color: orange;
      font-size: 15px;
      text-transform: none;
    }
    .fa.fa-book {
      color: #fff;
    }
  }

  .disclaimer {
    color: grey;
    font-style: italic;
    padding: 5px 10px;
  }
  .item-list {
    i.glyphicon-chevron-down, i.glyphicon-chevron-up {
      color: $orange;
      margin-right: 0;
    }
  }

  .footer {
    width: 100%;
    padding-top: 0;
    line-height: 32px;
    height: 32px;
    .oncokb-logo {
      height: 19px;
      margin-left: 10px;
      margin-top: -4px;
    }
    .feedback {
      margin-right: 10px;
      font-size: 12px;
    }
  }
  .tabs {
    height: $header-height;
  }
  .tabs .tab {
    line-height: 22px;
    height: $header-height;
  }
  .tab-content > .tab-pane {
    padding: 5px 10px 0 10px;
  }

  .enable-hover > a:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  li.tab.enable-hover.active {
    border-bottom: 3px solid $orange;
  }

  .thead {
    border: 0;
  }

  .collapsible-body p {
    padding: 0 1rem;
  }

  .collapsible {
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    margin: 0;
  }

  td, th {
    text-align: center;
  }
  th {
    font-size: 12px;
  }
  td {
    font-size: 13px;
  }

  table thead th {
    border-bottom: 2px solid $dark-blue;
  }

  .nav > li > a {
    padding: 5px 5px;
  }

  .levels {
    padding: 5px 10px;
    font-size: 12px;
    ul {
      line-height: 8px;
    }
    li {
      line-height: 16px;
      margin: 3px 0;
      display: inline-block;
      i {
        float: left;
        width: 16px;
      }
      > span {
        float: left;
        width: calc(100% - 22px);
      }
    }
  }

  .tip-header {
    line-height: 20px;
    font-size: 20px;
    background-color: $dark-blue;
    color: #fff;
    //padding-left: 10px;
    text-align: center;
    padding: 5px 10px;
  }

  .grey-out {
    opacity: 0.4 !important;
  }

  .additional-info {
    padding: 5px 10px;
    line-height: 20px;
    border-bottom: 1px solid lightgrey;
  }
}

.qtip.qtip-oncokb-card-refs {
  color: black;
  max-width: 400px;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 11px;
  * {
    box-sizing: border-box;
  }
  ul.list-group {
    max-height: 200px;
    overflow-y: auto;
  }
  .list-group-item {
    border: 0;
    padding: 5px;
    line-height: 16px;
    a {
      color: $dark-blue;
    }
  }
  .list-group-item:not(:first-child) {
    border-top: 1px solid #d0d0d0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.qtip.oncokb-card-qtip {
  border: 0;
  max-width: 500px;
  .qtip-content {
    padding: 0;
  }
  .oncogenic-loading {
    margin: 5px 9px;
  }
}
